doctype html
html
	head
		title #{title} - My Move Mobile
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="http://getbootstrap.com/assets/css/docs.min.css")
		//link(rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css")
		meta(name="viewport" content="width=device-width, user-scalable=no initial-scale=1")
		meta(property="og:title" content="MyMove Mobile")
		meta(property="og:type" content="website")
		meta(property="og:url" content="http://mymove.parseapp.com")
		meta(property="og:description" content="Your mobile coupon wallet")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script(src="//www.parsecdn.com/js/parse-1.2.18.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")

		script(type="text/javascript").
			(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);mixpanel.init("be78fcacdeae95626e6582fa62d4662f")

	body(style="")
		.navbar.navbar-default.navbar-default-top(role="navigation")
			.container
				.navbar-header
					//- button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
					//- 	span.sr-only Toggle navigation
					//- 	span.icon-bar
					//- 	span.icon-bar
					//- 	span.icon-bar
					a.navbar-brand
						img(src="/images/mymovelogo120.png" style="height:50px;position:relative;top:-15px")
						span(style="position:relative;top:-12px") MyMove

				//- .navbar-collapse.collapse(style="height:1px")
				//- 	ul.nav.navbar-nav.navbar-right
				//- 		li 
				//- 			a Download
				//- 		li 
				//- 			a About


		.container
			h1(style="font-size:23px") Great coupons everyday.
			h1(style="font-size:23px") Explore deals for new places.
			h1(style="font-size:23px") Your mobile wallet to help you save when you are moving.
			.row(style="padding:10px")
				a.btn.btn-success.col-xs-12(href="itms-services://?action=download-manifest&url=https://mymove.parseapp.com/v109/MyMoveWallet.plist" style="margin-bottom:20px") Download iOS application
				h4 Other platforms are coming soon
				.input-group
					input.form-control#emailReminder(type="email",placeholder="youremail@mail.com")
					span.input-group-btn
						button.btn.btn-success(type="button", onclick="submitForEmail()") Notify me



	script(type='text/javascript').
		Parse.initialize("NfzjaOxENPzKYkqKogb6gc0yNqQmS7rGqZ3N3rn5", "ncqIDz5AJwzQ0OB772n1FfnQ9SOc6A6bKz2cySwq");

		mixpanel.track("download page");

		function submitForEmail(){

			if($("#emailReminder").val()=="")
				alert("please enter your email");
			else{


			var EmailReminder = Parse.Object.extend("EmailNotify");
			var emailReminder = new EmailReminder();
			emailReminder.save({email: $("#emailReminder").val()}).then(function(object) {
			alert("Thanks for your interest! We will notify you when something cool come out!");
			});
		}}





			
		


