doctype html
html
	head
		title #{title} - MoversSavings
		link(rel='stylesheet', href='/stylesheets/style_research.css')
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="http://getbootstrap.com/assets/css/docs.min.css")
		link(rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		script(type="text/javascript" src="http://andywer.github.io/jquery-dim-background/jquery.dim-background.min.js")

		meta(property="og:title" content="Research: Discovering new places")
		meta(property="og:type" content="website")
		meta(property="og:url" content="http://www.pbsmartlab.com/research/discover")
		meta(property="og:image" content="https://www.google.com/+/images/learnmore/hero/hero-mobile-home.jpg")
		meta(property="og:description" content="Have your used your smartphone in the last two months to explore or discover a place you were not familiar with?")
	
		script(src="//www.parsecdn.com/js/parse-1.2.18.min.js")
		script(type="text/javascript" src="https://assets.yammer.com/assets/platform_embed.js")
		script(src="//www.parsecdn.com/js/parse-1.2.18.min.js")

		script(type='text/javascript').
			Parse.initialize("mfXFmQo11ebHL7q9p2VG5BsKlNiF1CbXX7xp2uKd", "qnIhHbUTMwaCUhXVSETLoBaCdtlqK7zg8Mnyfrzy");

	body
		script(type='text/javascript').
			$(document).ready(function () {
				// ClickTale Top part -->
				var WRInitTime=(new Date()).getTime();
				//ClickTale end of Top part -->
			});

		block content

		

		script(type='text/javascript').
			$(document).ready(function () {
				
			});


		script(type='text/javascript').
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-50900747-1', 'pbsmartlab.com');
			ga('send', 'pageview');


		script(type='text/javascript').
				// Include the UserVoice JavaScript SDK (only needed once on a page)
				UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/evFZ4nlLayXvGplhUPMvUA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

				//
				// UserVoice Javascript SDK developer documentation:
				// https://www.uservoice.com/o/javascript-sdk
				//
				// Set colors
				UserVoice.push(['set', {
					accent_color: '#448dd6',
					trigger_color: 'white',
					trigger_background_color: 'rgba(46, 49, 51, 0.6)'
				}]);

				// Identify the user and pass traits
				// To enable, replace sample data with actual user traits and uncomment the line
				UserVoice.push(['identify', {
					//email:      'john.doe@example.com', // User’s email address
					//name:       'John Doe', // User’s real name
					//created_at: 1364406966, // Unix timestamp for the date the user signed up
					//id:         123, // Optional: Unique id of the user (if set, this should not change)
					//type:       'Owner', // Optional: segment your users by type
					//account: {
					//  id:           123, // Optional: associate multiple users with a single account
					//  name:         'Acme, Co.', // Account name
					//  created_at:   1364406966, // Unix timestamp for the date the account was created
					//  monthly_rate: 9.99, // Decimal; monthly rate of the account
					//  ltv:          1495.00, // Decimal; lifetime value of the account
					//  plan:         'Enhanced' // Plan name for the account
					//}
				}]);

				// Add default trigger to the bottom-right corner of the window:
				UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

				// Or, use your own custom trigger:
				//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

				// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
				UserVoice.push(['autoprompt', {}]);