doctype html
html
	head
		title #{title} - My Move Mobile
		link(rel='stylesheet', href='/stylesheets/style_mobile.css')
		link(rel='stylesheet', href='/stylesheets/pixleight_style.css')
		link(rel='stylesheet', href='/stylesheets/multi-columns-row.css')
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="/stylesheets/jasny-bootstrap.css")
		link(rel="stylesheet" href="http://getbootstrap.com/assets/css/docs.min.css")
		link(rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css")
		link(rel="stylesheet" href="/stylesheets/navmenu-reveal.css")
		meta(name="viewport" content="width=device-width, user-scalable=no initial-scale=1")
		meta(property="og:title" content="MyMoveWallet")
		meta(property="og:type" content="website")
		meta(property="og:url" content="http://www.pbsmartlab.com/mobile")
		meta(property="og:description" content="Your mobile coupon wallet")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script(src="//www.parsecdn.com/js/parse-1.2.18.min.js")

		script(type='text/javascript').
			//Parse.initialize("NfzjaOxENPzKYkqKogb6gc0yNqQmS7rGqZ3N3rn5", "ncqIDz5AJwzQ0OB772n1FfnQ9SOc6A6bKz2cySwq"); real
			Parse.initialize("NfzjaOxENPzKYkqKogb6gc0yNqQmS7rGqZ3N3rn5", "ncqIDz5AJwzQ0OB772n1FfnQ9SOc6A6bKz2cySwq"); //fake

		script(type="text/javascript").
			(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);mixpanel.init("be78fcacdeae95626e6582fa62d4662f")
			//(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);mixpanel.init("be78fcacdeae95626e6582fa62d4662f23")

	body(style="padding-top:0px")
		script(type='text/javascript').
			//var userObjID = "REe3FzHTrg";
			//var userName = "6B07AADF-977E-4D6A-96BE-535AE599D418";
			//var userObjID = null;
			var userName;
			var currentUser;

			$(document).ready(function () {
				// ClickTale Top part -->
				var WRInitTime=(new Date()).getTime();
				//ClickTale end of Top part -->
			});

			var WRInitTime=(new Date()).getTime();


		block content

		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(src="http://jasny.github.io/bootstrap/dist/js/jasny-bootstrap.min.js")
		script(src="/javascripts/ie-row-fix.js")
		//script(src="/javascripts/bootbox.min.js")
		
		script(type='text/javascript').
			function preventDefault(e) { e.preventDefault(); };
			var isEnableTouch = true;
			$(document).ready(function () {
				$('body').fadeIn("fast");

				//offcanvas
				$('[data-toggle=offcanvas]').click(function () {
					$('.row-offcanvas').toggleClass('active')
					if(isEnableTouch){
						isEnableTouch=!isEnableTouch;
						document.addEventListener('touchmove', preventDefault, false);
						document.addEventListener('onclick', preventDefault, false);
						}
					else{
						isEnableTouch=!isEnableTouch;
						document.removeEventListener('touchmove', preventDefault, false);
						document.removeEventListener('onclick', preventDefault, false);
						}
					
				});

				



			});

			function getUrlParameter(sParam)
				{
					var sPageURL = window.location.search.substring(1);
					var sURLVariables = sPageURL.split('&');
					for (var i = 0; i < sURLVariables.length; i++) 
				{
					var sParameterName = sURLVariables[i].split('=');
					if (sParameterName[0] == sParam) 
					{
						return sParameterName[1];
					}
				}
			}


		script(type='text/javascript').
			//clicktale
			document.write(unescape("%3Cscript%20src='"+(document.location.protocol=='https:'?"https://cdnssl.clicktale.net/www07/ptc/7b940bc0-abd8-454b-ac1c-9fb607f69255.js":"http://cdn.clicktale.net/www07/ptc/7b940bc0-abd8-454b-ac1c-9fb607f69255.js")+"'%20type='text/javascript'%3E%3C/script%3E"));

			
			function loginUser(){
				currentUser = Parse.User.current();
				//alert(userObjID);
				//alert(currentUser);
				//alert(userName);
				mixpanel.identify(userObjID);
				mixpanel.people.set({
					"$last_login": new Date(),         // properties can be dates...
					"webId":userObjID
				});
					if (currentUser) {
						// do stuff with the user
						sessionStorage.setItem("userID",userObjID );
					} else {

						// show the signup or login page
						Parse.User.logIn(userName, "", {
							success: function(user) {
							// Do stuff after successful login.
							//alert("save use object id: "+userObjID);
							console.log("save use object id");
							sessionStorage.setItem("userID", userObjID);
								},
							error: function(user, error) {
							// The login failed. Check error to see why.
							alert("login failed: " + JSON.stringify(error));
								}
							});
					}
				}

			var sendToApp = function(_key, _val) {

				var iframe = document.createElement("IFRAME"); 
				iframe.setAttribute("src", _key + ":##sendToApp##" + _val); 
				document.documentElement.appendChild(iframe); 
				iframe.parentNode.removeChild(iframe); 
				iframe = null; 
				//alert("getting it: "+_key+"  and  "+_val);
			}; 

		
		//sendToApp("ios-log", "from js");
			//loginUser();
			//checkCoupons();



			
		


